<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LSD Paintings</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheet/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheet/custom.css.scss" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <%= render 'layouts/navbar' %>

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
    
    </header>

    <!-- Content Section -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">LSD Paintings</h1>
                    <p class="lead section-lead">Exploring the mind through art.</p>
                    <p class="section-paragraph">We create paintings that display emotion and life.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <aside class="image-bg-fixed-height"></aside>

    <%= render 'layouts/footer' %>
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>